{% extends "base.html" %}
{% block title %}Add Recipe{% endblock %}

{% block content %}
<div class="add-recipe">
  <h1>Add a new recipe, {{username}}!</h1>
  <form action="{{ url_for('add_recipe') }}" method="post" autocomplete="off">
    <label for="cuisine_category">
      <i class="fas fa-utensils"></i>
    </label>
    <select id="cuisine_category" name="cuisine_category" required>
      <option value="" disabled selected>Choose recipe course</option>
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Appetizers">Appetizers</option>
      <option value="Soups">Soups</option>
      <option value="Salads">Salads</option>
      <option value="Main-dishes">Main Dishes</option>
      <option value="Dessert">Dessert</option>
      <option value="Vegetarian">Vegetarian</option>
      <option value="Other">Other</option>
    </select>
    <label for="recipe_name">
      <i class="fas fa-tag"></i>
    </label>
    <input type="text" name="recipe_name" placeholder="Recipe Name" id="recipe_name" required>
    <label for="recipe_intro_text" class="span-label">
      <i class="fas fa-comment-alt"></i>
    </label>
    <pre><textarea rows = "20" cols = "100" class="textarea" role="textbox" name="recipe_intro_text" id="recipe_intro_text" placeholder="Recipe intro-text (i.e., favorite memory)"></textarea></pre>
    <label for="prep_time">
      <i class="fas fa-clock"></i>
    </label>
    <input type="text" name="prep_time" placeholder="Cook Time" id="prep_time" required>
    <label for="ingredients" class="span-label">
      <i class="fas fa-list-ul"></i>
    </label>
    <pre><textarea rows = "20" cols = "100" class="textarea" role="textbox" name="ingredients" id="ingredients" placeholder="Ingredients (i.e., 1 cup of sugar)"></textarea></pre>
    <label for="how_to_make" class="span-label">
      <i class="fas fa-pizza-slice"></i>
    </label>
    <pre><textarea rows = "20" cols = "100" class="textarea" role="textbox" name="how_to_make" id="how_to_make" placeholder="How to make it"></textarea></pre>
    <label for="image_url">
      <i class="far fa-image"></i>
    </label>
    <input type="text" name="image_url" placeholder="Image URL" id="image_url">
    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Add Recipe">
  </form>
</div>
{% endblock %}
