{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

		{% block content %}
		<div class="forgot_password">
			<h1 class="center">Forgot Password</h1>
			<p style="text-align: center;">Please enter your email address and we will send a password reset link to your email.</p>
			<form action="{{ url_for('forgot_password') }}" method="post" autocomplete="off">
				<div class="row mb-3">
					<label for="email" class="col-sm-2 col-form-label"><i class="fas fa-envelope"></i></label>
						<div class="col-sm">
							<input class="form-input" type="email" name="email" placeholder="Email" id="email" required autocomplete="off">
						</div>
				</div>
				<div class="msg">{{ msg }}</div>
				<input class="btn btn-primary center" type="submit" value="Send Link">
			</form>
		</div>

	{% endblock %}
