* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-image: linear-gradient(#f47484, #f3a06c);
    background-attachment: fixed;
  	margin: 0;
}



/*---------------  NAVBAR------------------------  */

.navtop {
  	background-color: #090607;
  	height: 60px;
  	width: 100%;
  	border: 0;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
 	  margin-left: 5px;
  	color: #f5eae1;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #f5eae1;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 2px 8px 0 0;
}
.navtop div a:hover {
  	color: #eaebed;
}

/*------------------LOGIN/REGISTER-----------------------------------*/


.login, .register {
    max-width: 400px;
  	width: 40%;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1, .register h1 {
  	text-align: center;
  	color: #ecb44c;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
}
.login .links a, .register .links a {
  	color: #adb2ba;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  	color: #ecb44c;
}
.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #090607;
  	color: #090607;
}
.login form, .register form, .add-recipe form, .single-recipe form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label, .register form label, .add-recipe form label, .card-content label, .single-recipe form label{
    float: left;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #ecb44c;
  	color: #ffffff;
}
.span-label {
    height: 100px !important;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 80%;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"], .profile input[type="submit"], .add-recipe form input[type="submit"]{
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #090607;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover, .profile input[type="submit"]:hover, .add-recipe form input[type="submit"]:hover {
  	background-color: #ecb44c;
  	transition: background-color 0.2s;
}

/*-----------------PROFILE/ADD RECIPE-------------------------------------*/

.profile, .add-recipe, .single-recipe {
    max-width: 700px;
  	width: 60%;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.container {
margin: 0 auto;
max-width: 1280px;
width: 90%;
}
.profile h1, .add-recipe h1 , .single-recipe h1{
    text-align: center;
    color: #ecb44c;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.profile h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}
.profile h2:hover {
  color: black;
}
/*---------------RECIPE CARDS---------------*/

.links-botton-card > a {
    color: #32475b;
    font-size: small;
}

.recipes-list {
    padding-top: 4%;

}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    margin-bottom: 20px;
    background-image: linear-gradient(#f3a06c, #f47484);
    background-attachment: fixed;
    padding-top: 15px;
}

.card-image {
  position: relative;
  text-align: center;
  color: white;
}

.card-content {
    padding: 10px;
    }


.card-image-img {
    width: 90%;
    height: 14vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }


  a.delete-item-link {
      float: right;
      color: white;
      text-decoration: none;
  }

  a.edit-item-link  {
    color: white;
    text-decoration: none;
  }

  .delete-item-link:hover, .edit-item-link:hover  {
      color: black;
  }

  .time-tag p {
    margin: 0;
    white-space: nowrap;
  }

  /*--------------ADD RECIPE FORM-----------------*/

pre {
  display: block;
  width: 86%;
  margin: 0;
}
.textarea {
  display: block;
  width: 100%;
  overflow: auto;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  height: 100px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 15px 15px;
}
.add-recipe form input[type="text"], .single-recipe form input[type="text"], .add-recipe form select {
  display: block;
  width: 86%;
  padding: 0 15px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
}

.single-recipe form select {
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
}
.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}

.edit_delete {
  background-color: black;
  padding: 20px;
}
a.delete-item-recipe {
    float: right;
    color: white;
    text-decoration: none;
}

a.edit-item-recipe  {
  color: white;
  text-decoration: none;
}

.delete-item-recipe:hover, .edit-item-recipe:hover  {
    color: #ecb44c;
}

.background {
  position: relative;
}

.layer {
  position :absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-image: linear-gradient( #f3a06c, #f47484);
  background-attachment: fixed;
  margin: 0;
}

.text-layer {
  position :absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
}

h3 {
  font-size: 56px;
  color: white;
  margin: 0;
  line-height: 98%;
}

h4 {
  color: white;
  font-size: 24px;
  padding: 0 40px;
}
